.cabecalho{
    
    padding: 24px;
   
  }
  .cabecalho__imagem{
    width: 7rem;
  }
  
    
  .cabecalho__menu{
   display: flex;
   gap: 100px;
  
  }
  
  .cabecalho__menu-item{
    font-family: 'Updock', cursive;
    font-size: 3.5rem;
    color: black;
    transition: 1s;
  }
  
  .cabecalho__menu-item :hover{
    color:pink;
    transition:0.5s
  }
  

@media screen and (min-width:0){
  .cabecalho{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  
  

 }
 .cabecalho__menu-item{
  font-family: 'Updock', cursive;
  font-size: 2.25rem;
  color: black;
  transition: 1s;
  padding-left: 76px;
}

 .cabbecalho__imagem{
width: 30px;
 
}

.cabecalho__menu{
  flex-direction: column;
  padding: 20px;
  

}
}

@media screen and (min-width:768px){
  .cabecalho{
display: flex;
justify-content: space-around;
flex-direction: row;
align-items: center;

 }

 .cabbecalho__imagem{
width: 4rem;
 
}

.cabecalho__menu{
  flex-direction: row;
  padding: 20px;

}
.cabecalho__menu-item{
  font-family: 'Updock', cursive;
  font-size: 3.5rem;
  color: black;
  transition: 1s;
}
}

@media screen and (min-width:992px){
  .cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

 }

 .cabbecalho__imagem{
width: 4rem;
 
}

.cabecalho__menu{
  flex-direction: row;
  padding: 20px;

}
.cabecalho__menu-item{
 
  font-size: 3.5rem;
  
}

}