@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Updock&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
  }
  body{
    background: rgb(236, 240, 245);
  }






